@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap');
@import './config';
@import './colors';
@import './theme';
@import './components';
@import './sizes';

body {
  background: theme[theme_type].body_color_background;
  color: theme[theme_type].body_color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: theme.sizes.font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

.sr {
  border-top-left-radius: 99999999999px;
  border-top-right-radius: 99999999999px;
  border-bottom-left-radius: 99999999999px;
  border-bottom-right-radius: 99999999999px;
}

.sr-tl {
  border-top-left-radius: 99999999999px;
}

.sr-tr {
  border-top-right-radius: 99999999999px;
}

.sr-bl {
  border-bottom-left-radius: 99999999999px;
}

.sr-br {
  border-bottom-right-radius: 99999999999px;
}

button {
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column.column;
}

alignment = {
  align-items: stretch center flex-start flex-end baseline initial inherit,
  justify-content: flex-start flex-end center space-between space-around initial inherit,
  text-align: left right center justify initial inherit
};

for num in (0 .. (length(alignment.align-items) - 1)) {
  .test{num} {
    color: white;
  }
}