@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap')
@import './colors'
@import './theme'

theme_type = 'dark'

body
  background: theme[theme_type].body_color_background
  color: theme[theme_type].body_color
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Montserrat', Helvetica, Arial, sans-serif
  font-size: theme.sizes.font
  font-weight: 400
  text-align: center
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.router-link
  text-decoration: none
  color: theme[theme_type].link_color
  margin: theme.sizes.margin
  &:hover
    color: theme[theme_type].link_color_hover


.router-link-exact-active
  color: theme[theme_type].link_color_active


.sr
  border-top-left-radius: 99999999999px
  border-top-right-radius: 99999999999px
  border-bottom-left-radius: 99999999999px
  border-bottom-right-radius: 99999999999px

.sr-tl
  border-top-left-radius: 99999999999px

.sr-tr
  border-top-right-radius: 99999999999px

.sr-bl
  border-bottom-left-radius: 99999999999px

.sr-br
  border-bottom-right-radius: 99999999999px


button
  border : none
