@import './colors';

dimentions = {
  default: 1rem
};
theme = {
  light: {
    super: white,
    body_color: colors.dark.dark_5,
    body_color_background: colors.light.light_5,
    link_color: red,
    link_color_hover: orange,
    link_color_active: yellow
  },
  dark: {
    super: black,
    body_color: colors.light.light_5,
    body_color_background: colors.dark.dark_5,
    link_color: blue,
    link_color_hover: purple,
    link_color_active: green
  },
  sizes: {
    grid_cols: 12,
    margin: dimentions.default,
    padding: dimentions.default,
    font: dimentions.default,
    media: {
      xs: 0px,
      sm: 600px,
      md: 960px,
      lg: 1264px,
      xl: 1904px
    }
  },
  colors: {
    danger: colors.commom.danger,
    info: colors.commom.info,
    success: colors.commom.success,
    alert: colors.commom.alert
  }
};