@import './colors'

dimentions = {
  default: 1rem
}

theme = {
  light: {
    body_color: color_dark_5,
    body_color_background: color_light_5,
    link_color: red,
    link_color_hover: orange,
    link_color_active: yellow
  },
  dark: {
    body_color: color_light_5,
    body_color_background: color_dark_5,
    link_color: blue,
    link_color_hover: purple,
    link_color_active: green
  },
  sizes: {
    margin: dimentions.default,
    padding: dimentions.default,
    font: dimentions.default
  }
}