button = {
  padding: 0.75 * theme.sizes.padding 1.25 * theme.sizes.padding,
  background: theme[tt].secondary
};

button {
  background: transparent;
  padding: button.padding;
  border: none;
}

button.flat {
  background: button.background;
}

button.raised {
  background: button.background;
  box-shadow: defaults.box_shadow;
}
