chip = {
  padding: 0.75 * theme.sizes.padding 1.25 * theme.sizes.padding,
  background: theme[tt].body_color_background,
  color: theme[tt].body_color
};

.chip {
  padding: chip.padding;
  border: none;
  background: chip.background;
  color: chip.color;
}