.drawer {
  position: absolute;
  background: theme[tt].body.color;
  color: theme[tt].body.background;
  box-shadow: defaults.box_shadow;
  padding: theme[sizes].padding;
  margin: theme[sizes].margin;
  border-radius: dimentions.default;
  width: 40vw;
  height: calc(100vh - (4 * dimentions.default));
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

  & > * {
    width: 100%;
    margin-bottom: dimentions.default;
  }
}

.drawer-title {
}

.drawer-menu {
  position: relative;
  width: 100%;

  .menu {
    width: 100%;
    // background: red;
    display: flex;
    flex-flow: column wrap;
    position: relative;

    .router-link {
      flex: 0 1 100%;
      line-height: 3 * theme.sizes.font;
      font-weight: bold;
      // padding-left: theme.sizes.font;
    }
  }
}

.drawer-actions {
  #actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;

    .buttons {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      padding: 1rem 0;
    }

    .funds {
      width: 100%;
      text-align: center;

      span {
        display: block;
        font-weight: bold;
      }
    }
  }
}