.drawer {
  position: absolute;
  top: 0;
  color: theme[tt].super;
  background: theme[tt].secondary;
  z-index: 1;
  margin: dimentions.default;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.drawer-activator {
  button {
    background: green;
  }
}

.drawer-content {
  width: 100%;
  min-width: 50vmax;
  padding: dimentions.default;
}

.drawer-title, .drawer-menu, .drawer-actions, .drawer-actions button {
  margin-bottom: dimentions.default;
}

.drawer-actions > button {
  display: flex;
}

#actions .buttons {
  display: flex;
  align-items: baseline;
}

.funds {
  color: theme[tt].secondary;
}