.dropdown {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: dimentions.default;
  position: relative;
}

.dropdown button {
  margin-bottom: 0 !important;
  margin-left: dimentions.default !important;
}

.dropdown-content button {
  // margin-bottom: dimentions.default;
  width: 100%;
}

.dropdown-content {
  margin-top: dimentions.default;
  position: absolute;
  top: 100%;
}