.funds:before {
  content: '$';
  // display: inline;
}

.funds-enter-active, .funds-leave-active {
  animation-duration: .5s;
  animation-timing-function: ease;
}


.funds-leave-to {
  animation-name: funds-leave-to;
}
.funds-enter {
  animation-name: funds-enter;
}

@keyframes funds-enter {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes funds-leave-to {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
