.router-link {
  margin-right: dimentions.default;
  text-decoration: none;
  color: theme[tt].link_color;
  &:hover {
    color: theme[tt].secondary;
  }
}

.router-link-exact-active {
  color: theme[tt].primary;
}
