alignments = {
  align-items: stretch center flex-start flex-end baseline initial inherit,
  justify-content: flex-start flex-end center space-between space-around initial inherit,
  text-align: left right center justify initial inherit
};

for property, values in alignments {
  for value in values {
    .{property}-{value} {
      {property}: value;
    }
  }
}
