@import './colors';

dimentions = {
  default: 1rem
};
theme = {
  light: {
    super: colors.commom.light,
    link_color: colors.light.light_5,
    secondary: darken(colors.light.light_5, 40),
    primary: lighten(colors.dark.dark_5, 40),
    body: {
      color: colors.dark.dark_5,
      background: colors.light.light_5
    }
  },
  dark: {
    super: colors.commom.dark,
    link_color: colors.dark.dark_5,
    secondary: lighten(colors.dark.dark_5, 40),
    primary: darken(colors.light.light_5, 40),
    body: {
      color: colors.light.light_5,
      background: colors.dark.dark_5
    }
  },
  sizes: {
    grid_cols: 12,
    margin: dimentions.default,
    padding: dimentions.default,
    font: dimentions.default,
    media: {
      xs: 0px,
      sm: 600px,
      md: 960px,
      lg: 1264px,
      xl: 1904px
    }
  },
  colors: {
    error: colors.commom.error,
    info: colors.commom.info,
    success: colors.commom.success,
    alert: colors.commom.alert
  }
};
util = {
  light: {
    shadow_color: darken(theme[tt].super, 40)
  },
  dark: {
    shadow_color: lighten(theme[tt].super, 0)
  }
};
defaults = {
  box_shadow: 0 0 (dimentions.default / 6) util[tt].shadow_color
};