.sr {
  border-top-left-radius: 99999999999px;
  border-top-right-radius: 99999999999px;
  border-bottom-left-radius: 99999999999px;
  border-bottom-right-radius: 99999999999px;
}

.sr-tl {
  border-top-left-radius: 99999999999px;
}

.sr-tr {
  border-top-right-radius: 99999999999px;
}

.sr-bl {
  border-bottom-left-radius: 99999999999px;
}

.sr-br {
  border-bottom-right-radius: 99999999999px;
}
