<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Monstro</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <section id="jogo">
            <div id="resultados">
                <div id="jogador" class="card">
                    <span class="titulo">Jogador</span>
                    <progress class="vida" :class="jogadores.jogador.vida > 20 ? '' : 'vida-baixa'" :value="jogadores.jogador.vida" max="100"></progress>
                    <transition name="slideX" mode="out-in" appear>
                        <span class="vida" :key="jogadores.jogador.vida">
                            {{jogadores.jogador.vida}}
                        </span>
                    </transition>
                </div>
                <div id="monstro" class="card">
                    <span class="titulo">Monstro</span>
                    <progress class="vida" :class="jogadores.monstro.vida > 20 ? '' : 'vida-baixa'" :value="jogadores.monstro.vida" max="100"></progress>
                    <transition name="slideX" mode="out-in" appear>
                        <span class="vida" :key="jogadores.monstro.vida">
                            {{jogadores.monstro.vida}}
                        </span>
                    </transition>
                </div>
            </div>
            <div id="acoes" class="card">
                <template v-if="vencedor">
                    <div id="fim">
                        <span :class="mensagemFinalClasse">{{mensagemFinal}}</span>
                        
                        <button @click="iniciarNovoJogo"  id="btn_iniciarNovoJogo">Reiniciar</button>
                    </div>

                </template>
                <template v-else>
                    <div id="jogando">

                        <button @click="ataque"  id="btn_ataque">Ataque</button>
                        <button @click="ataque_especial"  id="btn_ataque_especial">Ataque especial</button>
                        <button @click="curar"  id="btn_curar">Curar</button>
                        <button @click="desistir"  id="btn_desistir">Desistir</button>
                    </div>
                </template>
            </div>
        </section>
        <section v-if="logNaoVazio" id="log" class="card">
            <transition-group name="slideY" mode="out-in" appear>
                <template v-for="(item, index) in logDesc">
                <ul :key="item">
                    <li class="monstro">{{item[0]}}</li>
                    <li class="jogador">{{item[1]}}</li>
                </ul>
                </template>
            </transition-group>
        </section>
    </div>


    <script src="./app.js"></script>
</body>

</html>