<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Monstro</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <section id="jogo">
            <div id="resultados">
                <div id="jogador" class="card">
                    <span class="title">Jogador</span>
                    <progress :value="jogadores.jogador.life" max="100"></progress>
                </div>
                <div id="monstro" class="card">
                    <span class="title">Monstro</span>
                    <progress :value="jogadores.monstro.life" max="100"></progress>
                </div>
            </div>
            <div id="acoes" class="card">
                <button @click="ataque" class="round" id="btn_ataque">Ataque</button>
                <button @click="ataque_especial" class="round" id="btn_ataque_especial">Ataque especial</button>
                <button @click="curar" class="round" id="btn_curar">Curar</button>
                <button @click="desistir" class="round" id="btn_desistir">Desistir</button>
            </div>
        </section>
        <section v-if="logNaoVazio" id="log" class="card">
            <ul>
                <template v-for="(item, index) in log">
                  <li class="monstro">{{item[0]}}</li>
                  <li class="jogador">{{item[1]}}</li>
                  <hr>
                </template>
            </ul>
        </section>
    </div>


    <script src="./app.js"></script>
</body>

</html>