.round {
    border-top-left-radius: 999999999999px;
    border-bottom-left-radius: 999999999999px;
    border-top-right-radius: 999999999999px;
    border-bottom-right-radius: 999999999999px;
}

:root {
    --padding-005-100: 0.5rem 1rem;
}

button {
    cursor: pointer;
}

.card {
    box-shadow: 0 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    background-color: white;
}

body {
    background-color: khaki;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace
}

#resultados,
#acoes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

#resultados,
#acoes,
#log {
    margin: 1rem;
    padding: 1rem;
}

#resultados {
    padding: 0
}

#resultados>div {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem;
}

#resultados .title {
    font-size: 2em;
    line-height: 1.6em
}

#acoes>button {
    margin: 1rem;
    padding: var(--padding-005-100);
    border: none;
    background: rgba(255, 255, 255, 0.4);
}

#btn_ataque:hover {
    background: orange;
}

#btn_ataque_especial:hover {
    background: blueviolet;
}

#btn_curar:hover {
    background: greenyellow;
}

#btn_desistir:hover {
    background: red;
}

#log ul {
    list-style: none;
    padding: 0;
}

#log li {
    padding: var(--padding-005-100);
    margin: 0.25rem;
}

.monstro {
    background-color: lightsalmon;
}

.jogador {
    background-color: lightblue;
}