* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #ff512f, #f09819);
    font-family: "Oswald", sans-serif;
    color: #fff;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}