button = {
  padding: 0.75 * dimentions.default 1.25 * dimentions.default
};

button {
  border: none;
}

button, .funds {
  padding: button.padding;
  margin-right: dimentions.default;
}

button, input {
  padding: button.padding;
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  font-weight: bold;
}
