.card {
  margin: 1rem;
  background: theme[theme_type].body_color_background;
  box-shadow: 0 0 (dimentions.default / 4) theme[theme_type].body_color;
  width: 100%;
  // margin: theme.sizes.margin;
}
