.card {
  flex-grow: 0;
  flex-shrink: 1;
  background: theme[theme_type].body_color_background;
  box-shadow: 0 0 (dimentions.default / 4) theme[theme_type].body_color;
  // margin: theme.sizes.margin;
}
