.drawer {
  position: absolute;
  background: theme[theme_type].body_color;
  color: theme[theme_type].body_color_background;
  box-shadow: 0 0 (dimentions.default * 20) theme[theme_type].super;
  padding: theme[sizes].padding;
  margin: theme[sizes].margin;
  border-radius: dimentions.default;
  width: 30vw;
  height: calc(100vh - (4 * dimentions.default));
}