.router-link
  text-decoration: none
  color: theme[theme_type].link_color
  margin: theme.sizes.margin
  &:hover
    color: theme[theme_type].link_color_hover

.router-link-exact-active
  color: theme[theme_type].link_color_active
