@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
:root {
    --default-value: 1rem;
    --padding-005-100: calc(0.5 * var(--default-value)) var(--default-value);
    --border-radius: calc(0.25 * var(--default-value));
    --transition-duration: 200ms;
    --transition-timing-function: ease-in-out;
    --font-outline-size: 0.6em;
}


/* COLORS */

:root {
    /* ini MONO */
    --theme-primary: #66A6FF;
    --theme-secondary: #335380;
    --theme-accent: #B3D2FF;
    --theme-darker: #596980;
    --theme-tertiary: #5285CC;
    /* end MONO */
    --theme-success: #52CCA7;
    --theme-erro: #CC210C;
    --theme-alert: #F0FF5B;
    --theme-background: var(--theme-darker);
}

html {
    background: var(--theme-background);
    font-weight: normal;
    font-size: var(--default-value);
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    color: var(--theme-darker);
    box-sizing: border-box;
    overflow: hidden;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 996px) {
    #app {
        max-width: 50vmax;
        margin: 0 auto;
    }
}