@import url('./icons.css');
:root {
    /* OPACIDADE */
    --opacity: 0.2;
    /* CORES */
    --opacity-light-color: rgba(255, 255, 255, var(--opacity));
    --opacity-dark-color: rgba(0, 0, 0, var(--opacity));
    --theme-opacity-color: var(--opacity-light-color);
    --color-dark: black;
    --color-light: white;
    --color-negative: crimson;
    --color-positive: greenyellow;
    /* TAMANHO DE BARRAS */
    --bar-size: 2rem;
    /* CORREÇÕES */
    --space-correction: 4rem;
    /* PADRÕES */
    --default-size: 1rem;
    --default-space: var(--default-size);
    --default-padding: var(--default-space);
    --default-padding-input: 0 var(--default-padding);
    --default-margin: var(--default-space);
    /* ÚTILS */
    --infinity9: 99999999px;
}

.super-round {
    border-bottom-right-radius: var(--infinity9);
    border-bottom-left-radius: var(--infinity9);
    border-top-right-radius: var(--infinity9);
    border-top-left-radius: var(--infinity9);
}

body {
    font-size: var(--default-size);
    font-family: "Lato", sans-serif;
    background: linear-gradient(to bottom, #e1eec3, #f05053);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

button {
    cursor: pointer;
}

#app {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app h1 {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 3rem;
}

.dark {
    color: var(--color-dark)
}

.light {
    color: var(--color-light)
}